<div class="question <%= "depth-#{qing.object.depth}" %><%= qing.object.condition ? ' conditional' : '' %>">
  <div class="name">
    <% if qing.object.condition %>
      <div class="condition">
        <%= t("question.answer_only_caps") %> <%= qing.object.condition.to_s %>
      </div>
    <% end %>
    <h3 class="name">
      <%= qing.object.full_dotted_rank %>. <%= reqd_sym if qing.object.required? %>
      <%= qing.object.question.name %>
    </h3>
    <% unless qing.object.question.hint.blank? %>
      <i class="hint"><%= qing.object.question.hint %></i>
    <% end %>
  </div>
  <div class="answer <%= qing.object.qtype_name %>_answer">
    <% # print options if necessary %>
    <% if qing.object.has_options? %>
      <% qing.object.options.each do |opt| %>
        <label class="option">
          <%= radio_button(qing, :response, opt.name, class: "option_box") %>
          <%= opt.name %>
        </label>
      <% end %>
    <% elsif qing.object.qtype_name == 'text' %>
      <%= text_field(qing, :response) %>
    <% elsif qing.object.qtype_name == 'location' %>
      <div>Geolocation:
        <span class='geolocate-status'>incomplete</span>
      </div>
      <%= hidden_field(qing, :response, class: 'geolocate-me') %>
      <script type="text/javascript">
        function showPosition(position) {
          var geolocation = position.coords.latitude + ',' + position.coords.longitude;
          $('.geolocate-me').val(geolocation);
          $('.geolocate-status').text('succeeded');
        }
        function showError(err) {
          $('.geolocate-status').text(JSON.stringify(error));
        }
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
          $('.geolocate-status').text('not supported');
        }
      </script>
    <% elsif qing.object.qtype_name == 'integer' %>
      <%= number_field(qing, :response) %>
    <% elsif qing.object.qtype_name == 'date' %>
      <span>Today's date</span>
      <%= date_field(qing, :response, value: Date.today) %>
    <% elsif qing.object.qtype_name == 'time' %>
      <span>Current time</span>
      <%= time_field(qing, :response, value: Time.now.strftime("%T.%L")) %>
    <% elsif qing.object.qtype_name == 'image' %>
      <%= file_field(qing, :response) %>
    <% else %>
      <div>
        No web form field for:
        <%= qing.object.qtype_name %>
      </div>
    <% end %>
  </div>
</div>
