<div class="question <%= "depth-#{qing.object.depth}" %><%= qing.object.condition ? ' conditional' : '' %>">
  <div class="name">
    <% if qing.object.condition %>
      <div class="condition">
        <%= t("question.answer_only_caps") %> <%= qing.object.condition.to_s %>
      </div>
    <% end %>
    <h3 class="name">
      <%= qing.object.full_dotted_rank %>. <%= reqd_sym if qing.object.required? %>
      <%= qing.object.question.name %>
    </h3>
    <% unless qing.object.question.hint.blank? %>
      <i class="hint"><%= qing.object.question.hint %></i>
    <% end %>
  </div>
  <div class="answer <%= qing.object.qtype_name %>_answer">
    <% # print options if necessary %>
    <% if qing.object.has_options? %>
      <% qing.object.options.each do |opt| %>
        <label class="option">
          <%= radio_button(qing, :response, opt.name, class: "option_box") %>
          <%= opt.name %>
        </label>
      <% end %>
    <% else %>
      <div class="answer_box"></div>
    <% end %>
  </div>
</div>
