<% body = yield %>
<% ctlr_action_name = "#{route_key}_#{controller.action_name.gsub('update', 'edit').gsub('create', 'new')}" %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= configatron.site_name %><%= (ttl = title(:text_only => true)).blank? ? "" : ": #{ttl}" %></title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "application-screen", :media => "screen" %>
  <%= stylesheet_link_tag "application-print", :media => "print" %>

  <%# For Capybara. %>
  <%= stylesheet_link_tag 'disable-transition' if Rails.env.test? %>

  <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
  <style type="text/css">
    .edit_form {
      padding: 8px;
    }

    .question {
      margin-bottom: 22px;
    }

    i.hint {
      padding: 0;
    }

    .answer {
      margin-top: 5px;
    }
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">

  <%# Logo and mission if selected %>
  <div id="title">
    <%= link_to(image_tag("logo.png"), current_root_path) %>
    <%# Stripping title name since we have a logo now %>
    <h2>
      <% if admin_mode? %>
        <i class="fa fa-key"></i>
        <%= t('admin_mode.admin_mode') %>
      <% else %>
        <%= current_mission.try(:name) %>
        <% if current_mission.try(:locked) %>
          <i class="fa fa-lock"></i>
        <% end %>
      <% end %>
    </h2>
  </div>

  <%# navigation bar %>
  <nav id="main-nav" class="navbar navbar-default" role="navigation">
    <% if current_user && (current_mission || admin_mode?) %>
        <% if admin_mode? %>
          <div class="navbar-header std"><%= t("standard.standard") %></div>
        <% end %>

        <ul class="nav navbar-nav">
          <%= nav_links(Form, Question, OptionSet) %>

          <%# divider %>
          <li><div class="line"></div></li>

          <%= nav_links(User, Broadcast, Sms::Message, Setting, Mission) %>

        </ul>
    <% end %>
  </nav>

  <div id="content" class="<%= ctlr_action_name %>">
    <%# Show errors or alerts if any %>
    <%= alerts(flash) %>
    <%= yield(:alerts) %>
    <% unless @dont_print_title %>
      <div id="title_container">
        <%= h1_title %>
        <%= yield :title_content %>
      </div>
    <% end %>
    <%= body %>
  </div>

  <div id="footer">

    <%= link_to(t("layout.change_language"), "#", :id => "locale_form_link") %>

    <%= form_tag(nil, :id => "locale_form") do %>
      <%# We can't change language unless the request is GET since no way to redirect browser to POST, etc. %>
      <%# So we disable with message in that case. %>
      <%= select_tag(:locale, options_for_select(configatron.full_locales.map{|l| [language_name(l), l]}, I18n.locale),
        class: 'form-control', disabled: !request.get?, title: request.get? ? '' : I18n.t('layout.locale_change_get_only')) %>
    <% end %>

    &nbsp;|&nbsp;

    <%= t("layout.time_zone") %>: <%= Time.zone.to_s %> &nbsp;|&nbsp;

    <%= link_to(t('layout.about'), 'http://getelmo.org') %>
  </div>

  <div id="glb-load-ind">
    <%= image_tag('glb-load-ind.gif') %>
    <%= t('layout.loading') %>
  </div>

<%# Include logo-dark (used for printing) here because for just-in-time ajax loading (e.g. forms) it may not load in time. %>
<%= image_tag('logo-dark.png', class: 'hidden') if controller_name == 'forms' %>

  <%# insert any audio objects at the end %>
  <%= yield(:audio) %>
</body>
</html>
